@model RPG_Duel_Simulator.Models.Character

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Character</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CharacterName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CharacterName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CharacterType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CharacterType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Level)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Str)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Str)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Intl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Intl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Spd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Spd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.End)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.End)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Per)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Per)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Luck)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Luck)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Equipment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CharacterDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CharacterDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-CharacterId="@Model?.CharacterId" class="btn btn-secondary">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    <a asp-action="Delete" asp-route-CharacterId="@Model?.CharacterId" class="btn btn-danger">Banish</a>
</div>
